<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= film.title %></title>
  </head>
  <body>
    <h1><%= film.title %></h1>
    <p>Release Year: <%= film.releaseYear %></p>
    <p>Director: <%= film.director %></p>
    <p>Star: <%= film.star %></p>
    <p>Personal Rating: <%= film.personalRating %></p>
    
    <a href="/">Back to Films</a>
  </body>
</html>
