<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= film.title %></title>
  </head>
  <body>
    <h1><%= film.title %>, rating: <%=film.personalRating %></h1>
    <p>Released: <%= film.releaseYear %></p>
    <p>Genre: <%= film.genre %></p>
    <p>Director: <%= film.director %></p>
    <p>Actor: <%= film.actor %></p>

    <a href="/film">Back to Film Library</a>
  </body>
</html>
